@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/ROBOTO-REGULAR_0.TTF");
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/ROBOTO-BOLD.TTF");
}
@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/ROBOTO-BLACK.TTF");
}
@font-face {
	font-family: "RobotoLightItalic";
	src: url("../fonts/ROBOTO-LIGHTITALIC.TTF");
}
@font-face {
	font-family: "RobotoBoldItalic";
	src: url("../fonts/ROBOTO-BOLDITALIC.TTF");
}